# 문장 Count

Data 상황
- 특정 동일 문장 반복
- 문장 속 숫자가 다름

Code 구성
- 숫자 제거 or 대체 (정규식 활용)
- 문장 Count

In [1]:
import re
import pandas as pd

원하는 문자를 뽑아내는 함수 구현

In [2]:
# def only_str(x):
#     '''문자만 반환'''
#     pattern = r'[\d+]' # 숫자만 찾는 패턴
#     x = re.sub(pattern, '*', x) # x 문장 속 패턴을 찾아내어 '*'로 대체
#     return x

# def only_str(x):
#     pattern = r'[^\D]' 
#     x = re.sub(pattern, '*', x) 
#     return x

# def only_str(x): # 숫자 제거
#     pattern = r'[\D]' 
#     x = re.findall(pattern, x)
#     x = ''.join(x) # 리스트 요소 합치기
#     return x

def only_str(x):
    '''문자만 반환'''
    pattern = r'[\d+]' # 숫자만 찾는 패턴
    x = re.sub(pattern, '', x) # x 문장 속 패턴을 찾아내어 ''로 대체
    return x

In [3]:
sample = 'abcdsad21312 7814 asdqgasd 4856bb'
only_str(sample)

'abcdsad  asdqgasd bb'

데이터 부르기

In [4]:
df = pd.read_csv('./sample.txt', header=None, names = ['pre_txt'])
df.head()

                                   pre_txt
0        abcdsad21312 7814 asdqgasd 4856bb
1  sdfsdew312q 124562sad vbdfs5498 b1a64sa
2                          ㅁㄴ123율74 ㄴ12312
3          abcd123sad 7814 asdqgasd 4856bb
4                  1312ㅁ468ㄴ4ㅇㅁㄴ ㅁㄴ564ㄷ421

In [5]:
df.shape

(32, 1)

In [6]:
df['txt'] = df['pre_txt'].apply(lambda x: only_str(x))

In [7]:
df.head()

                                   pre_txt                      txt
0        abcdsad21312 7814 asdqgasd 4856bb     abcdsad  asdqgasd bb
1  sdfsdew312q 124562sad vbdfs5498 b1a64sa  sdfsdewq sad vbdfs basa
2                          ㅁㄴ123율74 ㄴ12312                    ㅁㄴ율 ㄴ
3          abcd123sad 7814 asdqgasd 4856bb     abcdsad  asdqgasd bb
4                  1312ㅁ468ㄴ4ㅇㅁㄴ ㅁㄴ564ㄷ421                ㅁㄴㅇㅁㄴ ㅁㄴㄷ

In [8]:
df['pre_txt'].nunique()

30

In [9]:
df['txt'].nunique()

10

In [10]:
cnt = df.txt.value_counts(ascending = True) # 오름차순 정렬 #  ascending = True # 상대빈도 구하기 # (normailze = True)

In [11]:
top5 = cnt[:5]

In [12]:
top5.to_dict()

{'ㅁㄴ율 ㄴ': 1,
 'ㅗㅈㄱㅁㄴㅇㅁㄴ ㅁㄴㄷ': 1,
 'sdf ㄴㅁㄴㅇㅁㄴ ㅁㄴㄷ': 1,
 'dqgasd bb': 1,
 'ㅁㄴㅇㅁㄴ ㅁㄴㄷ': 2}

In [13]:
top5.to_frame()

                txt
ㅁㄴ율 ㄴ             1
ㅗㅈㄱㅁㄴㅇㅁㄴ ㅁㄴㄷ      1
sdf ㄴㅁㄴㅇㅁㄴ ㅁㄴㄷ    1
dqgasd bb         1
ㅁㄴㅇㅁㄴ ㅁㄴㄷ         2